<!DOCTYPE html>
<html>
<head>
</head>

<body>

<div>
  <h1 style="color: #999;">Best pizza in the world</h2>
</div>

<% @products.each do |row|%>
  <div class="col">
    <div class="col-md-4">
    <h3><b><%=row.title%></b></h3>
    <img src="<%=row.path_to_image%>" alt="wth" class="img-rounded" style="width: 330px"><hr/>
    <div><%=row.description%></div>
    <div>Size: <%=row.size%> cm.</div>
    <div>Price: <%=row.price%> ₽
    <button type="button" class="button button5" onclick="javascript:add_to_cart(<%=row.id%>)">Add to cart 🛒</button></div><hr/>
    </div>
  </div>
<%end%>

</body>
</html>